@import url('https://fonts.googleapis.com/css2?family=Englebert&family=Mouse+Memoirs&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #12194A;
}

header {
    background: white;
    padding: 20px;
}

header > h1 {
    color: #12194A;
    text-align: center;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 60px;
}

.scoreboard {
    border: 3px solid white;
    border-radius: 4px;
    text-align: center;
    width: 200px;
    margin: 20px auto;
    color: white;
    font-size: 46px;
    padding: 15px 20px;
    font-family: 'Mouse Memoirs', sans-serif;
    position: relative;
}

.badge {
    background: #B12228;
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    font-family: 'Englebert', sans-serif;
}

#user-label {
    position: absolute;
    top: 30px;
    left: -25px;
}

#computer-label {
    position: absolute;
    top: 30px;
    right: -35px;
}

.result {
    font-size: 40px;
    color: white;
    font-family: 'Mouse Memoirs', sans-serif;
    text-align: center;
    margin-top: 20px;
}

.choices {
    margin-top: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.choice img {
    width: 120px;
    padding: 10px;
}

.choice {
    border: 4px solid #F3CC64;
    border-radius: 50%;
    padding: 10px;
    margin: 0 10px;
    transition: all 0.3s ease;
}

.choice:hover {
    cursor: pointer;
}

#action-message {
    text-align: center;
    color: white;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 30px;
    margin-top: 20px;
}

#user-choice {
    text-align: center;
    color: white;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 30px;
    margin-top: 20px;
    display: none;
}

#computer-choice {
    text-align: center;
    color: white;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 30px;
    margin-top: 20px;
    display: none;
}

.green-glow {
    border: 3px solid #0a9b72;
    box-shadow: 0 0 10px #077254;
    background-color: #0a9b72;
}

.pink-glow {
    border: 3px solid #FA4980;
    box-shadow: 0 0 10px #c93a67;
    background-color: #FA4980;
}

.blue-glow {
    border: 3px solid #144D7A;
    box-shadow: 0 0 10px #0d3655;
    background-color: #144D7A;
}